<div class="jumbotron">
	<div>
		Are You Sure you want to delete?
	</div>
	<br/>
		<button {{action "delete"}} class="btn btn-default" title="delete">Yes</button>
		<a href="#products"><button class="btn btn-default" title="delete">No</button></a>
</div>