<div>
    <div class="header">
        <ul class="nav nav-pills pull-right">
            <li class="active">{{#link-to 'login'}}Home{{/link-to}}</li>
            <li>{{#link-to ''}}About{{/link-to}}</li>
            <li>{{#link-to ''}}Contact{{/link-to}}</li>
        </ul>
        <h3 class="text-muted">{{#link-to 'index'}}{{title}}{{/link-to}}</h3>
    </div>
    <div class="container" id="main">
        <div class="row">
            <div>
                <div class="col-md-12">
                    {{outlet}}
                </div>
            </div>
        </div>
    </div>
    <div id="footer" class="footer navbar-fixed-bottom">
        <div class="container">
            <div id="sp-footer1" class="span8">
                <span class="copyright">Footer</span>
                {{#link-to ''}}{{/link-to}}
            </div>
        </div>
    </div>
</div>
