<div class="jumbotron">
	<form class="form-horizontal" {{action "login" on="submit"}}>
	  	{{#if loginFailed}}
		    <div class="alert">Invalid username or password.</div>
		{{/if}}
		<div class="input-group">
			<span class="input-group-addon">Username</span>
			{{input type="text" class="form-control" value=userName size="50" placeholder="Username"}}
		</div>
		<br/>
		<div class="input-group">
			<span class="input-group-addon">Password</span>
			{{input type="password" class="form-control" value=password size="50" placeholder="Password"}}
		</div>
		<br/>
			<button type="submit" class="btn btn-default">Login</button>
	</form>
</div>
